@if(hotel)
{
    <div class="hotel-container">
        <div class="hotel-header">
            <img [src]="hotel.xotelo_photo_url" alt="{{hotel.name}}" class="hotel-image">
            <div class="hotel-info">
                <h1 class="hotel-name">{{hotel.name}}</h1>
                <p class="hotel-address">{{hotel.address}}</p>
                <a class="service-item" [href]="hotel.xotelo_hotel_url">Abrir en TripAdvisor</a>
            </div>
        </div>

        <section class="hotel-services">
            <h2 class="section-title">Servicios disponibles</h2>
            <div class="services-list">
                @for (hotelService of hotel.services; track $index)
                {
                    <a (click)="changeSelectedService(hotelService)" class="hotel-address">{{hotelService.service.name}}</a>
                    @if($index != hotel.services.length - 1)
                    {
                        <span class="separator">|</span>
                    }
                }
            </div>
        </section>

        <!-- Gráfica de precios -->
        <section class="price-evolution">
            <h2 class="section-title">Evolución de precios del alojamiento</h2>
            <div class="price-chart-container">
                <canvas #priceChart class="price-chart"></canvas>
            </div>
        </section>

        @if(authService.isAuthenticated())
        {
            <div class="wishlist-section">
                <button class="wishlist-button" (click)="openWishlistCreator = !openWishlistCreator">Agregar a wishlist</button>
                @if(openWishlistCreator)
                {
                    <app-wishlist-creator [hotelService]="selectedService" class="wishlist-creator"></app-wishlist-creator>
                }
            </div>
        }
        @else {
            <p class="login-prompt">Inicia sesión para agregar a la wishlist</p>
        }
    </div>
}
@else 
{
    <p class="loading">Cargando...</p>
}