<div class="body">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <div class="container">
        <div class="container-form">
            <form class="sign-in">
                <h2>Iniciar Sesión</h2>
                <span>Use su correo y contraseña</span>
                <div class="container-input">
                    <i class="fa-solid fa-envelope"></i> <!--Icono de sobre para el mail-->
                    <input type="email" placeholder="Email" [(ngModel)]="emailOrNickname" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="container-input">
                    <i class="fa-solid fa-lock"></i> <!--Icono de candado para la contraseña-->
                    <input type="password" placeholder="Contraseña" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                </div>
            
                <div class="remember">
                    <input type="checkbox" id="rememberLogin" (click)="rememberMe = !rememberMe"> <p>Recuérdame</p>

                </div>
                <button class="button" id="loginButton" (click)="login()">Iniciar sesión</button>
            </form>
        </div>
    
        <div class="container-form">
            <form class="sign-up" [formGroup]="registerForm">
                <h2>Registrarse</h2>
                <span>Use su correo electrónico para registrarse</span>
                <div class="container-input">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" placeholder="Nombre" formControlName="nickname">
                </div>
                <div class="container-input">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" placeholder="Email" formControlName="email">
                </div>
                <div class="container-input">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" placeholder="Contraseña" formControlName="newPassword">
                </div>
                <div class="container-input">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" placeholder="Confirmar contraseña" formControlName="confirmPassword">
                </div>
                <div class="remember">
                    <input type="checkbox" id="rememberSign" (click)="rememberMe = !rememberMe"> <p>Recuérdame</p>

                </div>
                <button class="button" id="register_button" (click)="register()">Registrarse</button>
                <div *ngIf="registerForm.get('email')?.invalid" class="error">
                    <div *ngIf="registerForm.get('email')?.hasError('email')">
                      Tiene que ser un email.
                    </div>
                </div>
                <div class="error">
                <div
                  *ngIf="
                    registerForm.hasError('mismatch') &&
                    registerForm.get('confirmPassword')?.touched
                  "
                >
                  Las contraseñas no coinciden
                </div>
              </div>
            </form>
        </div>
    
        <div class="container-welcome">
            <div class="welcome-sign-up welcome">
                <h3 style="color: white;">¿No tienes cuenta?</h3>
                <button class="button" id="btn-sign-up">Registrarse</button>
            </div>
            <div class="welcome-sign-in welcome">
                <h3 style="color: black;">¿Ya tienes cuenta?</h3>
                <button class="button" id="btn-sign-in">Iniciar Sesión</button>
            </div>
        </div>
    </div>
</div>