@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Fjalla+One&family=Gravitas+One&family=Julius+Sans+One&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Fjalla+One&family=Gravitas+One&family=Julius+Sans+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Fjalla+One&family=Gravitas+One&family=Julius+Sans+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet');


/*


titulos
font-family: "Fjalla One", sans-serif;

Subtitulo
font-family: "Julius Sans One", sans-serif;

Texto
font-family: "Open Sans", sans-serif;


*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-family: "Julius", sans-serif;
    width: 100%;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    width: 800px;
    height: 500px;
    display: flex;
    position: relative;
    background-color: #F5F5DC;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(0, 0,0,0.3)

}
.container-form{
    width: 100%;
    overflow: hidden;
}
.container-form form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in;
}
.container-form h2{
    font-size: 30px;
    margin-bottom: 20px;
    font-family: "Fjalla One", sans-serif;

}
.container-form span{
    font-size: 12px;
    margin-bottom: 15px;
}
.container-input{
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0 15px;
    background-color: #EEEEEE;
}
.container-input input{
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    background-color: inherit;
}
.container-form a{
    color: black;
    font-size:  14px;
    margin-bottom: 20px;
    margin-top: 5px;
}
.button{
    width: 170px;
    height: 45px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;  
    background-color: #9ED4CB;  
    color: black;
}
/*Animation form*/

.sign-up{
    transform: translateX(-100%);
}
.container.toggle .sign-in{
    transform: translateX(100%);
}
.container.toggle .sign-up{
    transform: translateX(0);
}

.remember{
    width: 75%;
    align-items: center;
    margin-bottom: 10%;
    margin-top: 5%;
    display: flex;
}

.remember input{
    margin-right: 5px;
    width: 15px;
    height: 15px;
}

.remember p{
    font-size: 15px;
}

/*Welcome*/
.container-welcome{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateX(100%);
    background-color: #3AB397;

    /*Imagen fondo login*/
    background-repeat: no-repeat;
    background-image: url("../../../../public/login-bg.webp");
    background-size: cover;


    transition: transform 0.5s ease-in-out, border-radius 0.5s ease-in-out;
    overflow: hidden;
    border-radius: 50% 0 0 50%;
}
.container.toggle .container-welcome{
    transform: translateX(0);
    border-radius: 0 50% 50% 0;

    /*Imagen fondo crear cuenta*/
    background-repeat: no-repeat;
    background-image: url("../../../../public/register-bg.webp");
    background-size: cover;

}
.container-welcome .welcome{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 50px;
    color: white;
    transition: transform 0.5s ease-in-out;
}
.welcome-sign-in{
    transform: translateX(100%);
}
.container-welcome h3{
    font-size: 40px;
    font-family: "Fjalla One", sans-serif;

}

.container-welcome .button{
    background-color: #9ED4CB;
}

.container.toggle .welcome-sign-in{
    transform: translateX(0);
}
.container.toggle .welcome-sign-up{
    transform: translateX(-100%);
}

/* Responsive */

@media (max-width: 800px){
    .container{
        width: 550px;
    }
    .container-input{
        width: 100%;
        height: 40px;
    }
    .remember{
        width: 100%;
        padding-left: 5%;
    }
    .container-welcome h3{
        font-size: 20px;
    }
}

@media (max-width: 550px){
    .container-welcome .welcome{
        align-items: normal;
        padding: 0 35px;
    }
}

@media (max-width: 410px){
    .container-welcome .welcome{
        padding: 0 20px;
    }
    .button{
        width: 130px;
    }
}

.error 
{
    color: red;
}