@if(menuShowing == "hotels")
{  
    <section>
        <div class="container py-5">
            <div class="row justify-content-center mb-4">
                <div class="col-6 col-md-4">
                    <input type="text" class="form-control" placeholder="Buscar hotel..." [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange()" [ngModelOptions]="{'standalone': true}">
                </div>
            </div>

            <div class="row justify-content-center mb-4">
                <div class="col-6 col-md-4">
                    <select class="form-select" [(ngModel)]="sortValue" (ngModelChange)="onOrderChange()" [ngModelOptions]="{'standalone': true}">
                        <option value="asc">Ordenar por Precio Ascendente</option>
                        <option value="desc">Ordenar por Precio Descendente</option>
                    </select>
                </div>
            </div>

            @if (searchedHotels.length > 0)
            {
                @for (hotel of searchedHotels; track hotel.id)
                {
                    <app-hotel-card [hotel]="hotel"></app-hotel-card>
                }
            }
            @else {
                <p>No hay resultados para la búsqueda</p>
            }
        </div>
    </section>
}
<app-chat></app-chat>