<div class="row justify-content-center">
    <div class="col-md-12 col-xl-10">
        <div class="card shadow-0 border rounded-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                        <div class="bg-image hover-zoom ripple rounded ripple-surface">
                            <img [src]="hotel?.xotelo_photo_url"
                                class="w-100" style="max-height: 200px;"/>
                            <a href="#!">
                                <div class="hover-overlay">
                                    <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <h5>{{hotel?.name}}</h5>
                        <p class="text-truncate mb-4 mb-md-0">
                            {{hotel?.address}}
                        </p>
                        @for (hotelService of hotel?.services; track $index) {
                            <span style="color: gray !important">{{hotelService.service.name}}</span>
                            @if($index != hotel!!.services!!.length - 1)
                            {
                                <span class="text-primary"> • </span>
                            }
                        }
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                        <div class="d-flex flex-row align-items-center mb-1">
                            @if(hotel!!.services[0].date_prices.length != 0 && hotel!!.services[0].date_prices[hotel!!.services[0].date_prices.length - 1].price != null){
                                <h4 class="mb-1 me-1">{{hotel!!.services[0].date_prices[hotel!!.services[0].date_prices.length - 1].price }} €</h4>
                            }
                            @else {
                                <h4 class="mb-1 me-1">Precio desconocido</h4>
                            }
                        </div>
                        <div class="d-flex flex-column mt-4">
                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-sm"
                                type="button" (click)="router.navigateToUrl('hotel/' + hotel?.id)">Detalles</button>
                            <button data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-outline-primary btn-sm mt-2" type="button" (click)="openUrl(hotel!!.xotelo_hotel_url)">
                                Abrir en TripAdvisor
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>