@if(service)
{
    <h1>{{ service.name }}</h1>
    <!-- TODO: Agregar buscador de hoteles -->
    @for (hotelService of service.hotels; track hotelService.id)
    {
        @if(hotelService.hotel != null)
        {
            <div>
                <p>Hotel: {{ hotelService.hotel.name }}</p>
                <ul>
                    @for(datePrice of hotelService.date_prices; track $index)
                    {
                        <li>Precio: {{ datePrice.price }}</li>
                        <li>Fecha: {{ datePrice.date }}</li>
                    }
                </ul>
            </div>
        }
        @else
        {
            <!-- Si no tiene hotel significa que es el universal -->
            @if(authService.isAuthenticated())
            {
                <button (click)="openWishlistCreator = !openWishlistCreator">Agregar a wishlist</button>
                @if(openWishlistCreator)
                {
                    <app-wishlist-creator [hotelService]="hotelService"></app-wishlist-creator>
                }
            }
        }
    }
}
@else {
    <p>Cargando...</p>
}